%p
  %b Name:
  = @workout.name
%p
  %b State:
  = @workout.state
%p
  %b Exercises:
  = render partial: 'shared/table', locals: { data: workout_exercises_table_data(@workout) }
%p
  %b Trainees:
  = @workout.trainees.map(&:full_name).join(', ')
