%p
  %b Name:
  = @workout.name
- if current_user.is_a?(Trainer)
  %p
    %b State:
    = @workout.state
%p
  %b Exercises:
  = render partial: 'shared/table', locals: { data: workout_exercises_table_data(@workout) }
- if current_user.is_a?(Trainer)
  %p
    %b Trainees:
    = @workout.trainees.map(&:full_name).join(', ')
