%table.table.table-light.table-striped
  %thead
    %tr
      - data[:columns].each do |column|
        %th= column
  %tbody
    - if data[:rows].present?
      - data[:rows].each do |row|
        %tr
          - row.each do |value|
            %td= value
    - else
      %tr
        %td{colspan: data[:columns].size} No data available
