%h1 Gym Test Project

%h2 Welcome

%p
  There are multiple trainers experts in different areas and they are preparing the best workouts based on your expertise
  %br/
  = link_to 'Get Started', new_user_registration_path

%p
  Already member?
  %br/
  = link_to 'Log in', new_user_session_path
